@font-face {
    font-family: 'familiar_probold';
    src: url('Familiar_Pro-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_monoregular';
    src: url('SpaceMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
	--y-scroll-offset: 100px;
}

html, body {
	margin: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

p {
	font-family: familiar_probold;
    font-size: 0.8rem;
	color: black;
	margin: 5px;
}

.headline {
	margin-bottom: 10px;
	text-decoration: underline;
	
}

.explain {
	font-family: space_monoregular;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1rem;
	width: 70%
	
}

h1 {
    font-family: space_monoregular;
    font-size: 1.2rem;
}

h2 {
	font-family: familiar_probold;
    font-size: 1.6rem;
	color: #E5E7EB
}



#app {
	box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.searchcolors {
	margin: 0;
	margin-top: 10px;
	grid-column: 2/3;
	width: 100%;
	text-align: center;
	padding-left: 20px;
}

.header {
	grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 80px;
    padding: 0 20px;
	justify-content: space-around;
}


.letter-container {
	grid-column: 3/4;
    margin: 10px auto;
    width: 360px;
	height: 360px;
    display: grid;
    grid-template-columns: repeat(12, 30px);
	grid-template-rows: repeat(12, 30px)
}

.letter-box {
    border: 1px black solid;
    padding: 5px;
    margin: 0px;
    display: flex;
	justify-content: center;
	
}
/*
.letter-box:hover {
	background: black;
	color: white;
}
*/
.main-letter {
	
	align-self: center;
	cursor: pointer;
}




/* MODAL */


.modal-wrapper {	
	background: #333;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 80%;
	z-index: 1000;
}
.modal-window {
    font-family: familiar_probold;
	background: white;
	width: 280px;
	z-index: 9999;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 30px;
	transform: translateY(var(--y-scroll-offset));
	
}
.modal-title {
	
	font-weight: bold;
	font-size: 1.2rem;
}
.modal-body {
	font-size: 1.4rem;
	margin: 30px 0 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.button-wrapper {
	display: flex;
	justify-content: flex-end;
}

/* Colors */

.text-red {
	color: #EF4444;
	border: 2px solid black;
	padding: 0.4rem 1rem;
	margin-bottom: 10px;
	margin-right: 5px;
}

.text-green {
	color: #34D399;
	border: 2px solid black;
	padding: 0.4rem 1rem;
	margin-bottom: 10px;
	margin-right: 5px;
}


@media (min-width: 600px) { 

	.letter-container {
		width: 600px;
		height: 600px;
		grid-template-columns: repeat(12, 50px);
		grid-template-rows: repeat(12, 50px)
	}

	h1 {
		font-size: 1.8rem;
	}
	
	h2 {
		font-size: 2rem;
	}

	p {
		font-size: 1.2rem;
	}

	.headline {
		font-size: 1.4rem;
	}
	.letter-box {
		border: 2px black solid;
		
	}
}

@media (min-width: 1000px) { 

	.letter-container {
		margin-top: 30px;
		width: 672px;
		height: 672px;
		grid-template-columns: repeat(12, 56px);
		grid-template-rows: repeat(12, 56px)
	}

	h1 {
		font-size: 2rem;
	}
	
	h2 {
		font-size: 2.2rem;
	}

	p {
		font-size: 1.3rem;
	}

	.headline {
		font-size: 1.4rem;
		margin-bottom: 20px;
	}

	.letter-box {
		border: 2px black solid;
	}

	#app {
		display: grid;
		grid-template-columns: 1% 29% 70%;
	}

	.searchcolors {
		text-align: left;
		margin-top: 50px;
	}

	.explain {
		font-family: space_monoregular;
		text-align: justify;
		margin-top: 20px;
		font-size: 1.1rem;
		width: 100%
		
	}

	:root {
		--y-scroll-offset: 250px;
	}
}